@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@300,500&");

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --bg-SlateGray-color: #252d34;
    --font-nunito: "Nunito", sans-serif;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
        --bg-SlateGray-color: rgba(91, 112, 131, 0.4);
    }
}

body {
    color: #000000;
    background: #f5f5f5;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.animated_underline::after {
    content: "";
    height: 0.6px;
    width: 0%;
    background-color: rgb(0, 0, 0);
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 10%;
    transition: 0.5s;
}

.animated_underline:hover::after {
    width: 100%;
}
